/* Font Face */
@font-face {
  font-family: 'PostGrotesk-Book';
  src: url('../fonts/PostGrotesk-Book'); /* IE9 Compat Modes */
  src: url('../fonts/PostGrotesk-Book?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/PostGrotesk-Book.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/PostGrotesk-Book.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/PostGrotesk-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/PostGrotesk-Book.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'PostGrotesk-Bold';
  src: url('../fonts/PostGrotesk-Bold'); /* IE9 Compat Modes */
  src: url('../fonts/PostGrotesk-Bold?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/PostGrotesk-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/PostGrotesk-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/PostGrotesk-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/PostGrotesk-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'PostGrotesk-Medium';
  src: url('../fonts/PostGrotesk-Medium'); /* IE9 Compat Modes */
  src: url('../fonts/PostGrotesk-Medium?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/PostGrotesk-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/PostGrotesk-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/PostGrotesk-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/PostGrotesk-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'PostGrotesk-Book', sans-serif; 
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Main Style */
h1 {
	font-size: 1.2em;
	letter-spacing: 0.01em;
	margin-bottom: 10px;
}

h2 {
	font-size: 1.1em;
	color: #768895;
	line-height: 1.2em;
	margin-bottom: 10px;
}

h3 {
	font-size: 0.9em;
	color: #b0bec5;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	cursor: pointer;
}

section {
	float: left;
	position: relative;
    width: 95%;
    padding: 20px 2.5% 10px;
}

footer {
	float: left;
	position: relative;
	border-top: 1px solid #EEEEEE;
	width: 95%;
	margin: 50px 2.5%;
	padding: 20px 0;
	font-size: 0.8em;
}

footer .copyrights {
	color: #BDBDBD;
	float: left;
}

footer .links {
	float: right;
}

.links a {
	color: #64B5F6;
	margin-right: 5px;
}

.left-content {
	width: 100%;
	height: auto;
	float: left;
}

.right-content {
	width: 39%;
    height: calc(100% + 82px);
    position: absolute;
    top: 82px;
    right: 0;
    background-color: #FBFBFB;
    border-left: 1px solid #E0E0E0;
}

.main-header {
	width: 95%;
	float: left;
	padding: 20px 2.5%;
	background-color: #32323c;
	position: relative;
}

.logo-wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}

.logo {
	display: block;
    width: 150px;
    height: 42px;
    background: url(../images/cf_logo.svg) -13px center;
    background-size: 100%;
    text-indent: -999999999px;
    direction: ltr;
}

.steps ul {
	width: 100%;
}

.steps ul li {
	width: 30%;
	padding: 10px 1.5% 15px;
	float: left;
}

.steps ul li:after {
	content: '';
    position: absolute;
    width: 31.4%;
    height: 4px;
    background-color: rgb(110, 192, 230);
    background-color: rgba(110, 192, 230, 0.2);
    margin-top: 12px;
    margin-left: -5px;
}

.steps ul li {
	color: #b0bec5;
}

.steps ul li.active {
	color: #6ec0e6;
}

.steps ul li.active:after {
	background-color: rgb(110, 192, 230);
	background-color: rgba(110, 192, 230, 1);
}

.steps ul li:first-child:after {
	border-radius: 2px 0 0 2px;
}

.steps ul li:last-child:after {
	border-radius: 0 2px 2px 0;
}

.steps p {
	font-size: 0.8em;
	font-family: 'PostGrotesk-Book', sans-serif;
	line-height: 120%; 
}

.transaction-form {
	width: 100%;
	float: left;
	margin-top: 20px;
}

.sender-value {
	width: 99%;
	border-top: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	border-radius: 4px 4px 0 0;
	float: left;
}

.field-header {
	width: 60%;
    padding: 15px 15px 5px;
    float: left;
}

.field-header label {
	text-transform: uppercase;
	font-size: 0.8em;
	color: #6ec0e6;
}

.input-wrapper {
	float: left;
	width: 45%;
	padding: 0 15px 15px;
}

.currency-symbol {
	font-size: 2em;
}

.input-wrapper input {
	width: 80%;
	font-size: 2em;
	border: 0;
}

.input-wrapper input:focus {
	outline: none;
}

.select-wrapper {
    float: right;
    width: 85px;
    padding: 10px 5px;
    border: 1px solid #E0E0E0;
    margin-top: -8px;
    margin-right: 15px;
    border-radius: 24px 4px 4px 24px;
}

.select-wrapper .icon {
    width: 20px;
    height: 20px;
    text-indent: -999999px;
    direction: ltr;
    float: left;
    margin-left: 5px;
    border-radius: 35px;
}

.select-wrapper select {
	float: right;
    font-size: 0.85em;
    border: 0;
    background-color: transparent;
    width: 65%;
}

.receiver-value {
	float: left;
	width: 99%;
	border: 1px solid #e6e6e6;
	border-radius: 0 0 4px 4px;
}

.transaction-details {
	width: 99%;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	margin-top: 20px;
	float: left;
}

.transaction-details ul li {
	padding: 15px 5%;
	float: left;
	width: 90%;
}

.transaction-details ul li:last-child {
	border-top: 1px solid #e0e0e0;
}

.transcation-details ul li.details-header {
	padding: 20px 5%;
	font-size: 1.4em;
	color: #616161;
}

.details-header {
	font-family: 'PostGrotesk-Medium', sans-serif;
	background: #fafafa;
	border-bottom: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;  
}

.details-header:first-child {
	border-top: none;
}

.details-header .description {
	font-size: 1em;
	color: #616161;
}

.description {
	float: left;
}

.value {
	float: right;
}

.description, .value {
	font-size: 0.8em;
	color: #9e9e9e;
}

.pitch {
	text-align: center;
	color: #ffc766;
	font-size: 0.8em;
}

.info {
	color: #6ec0e6;
	line-height: 1.1em;
}

.you-send, .recipient-gets {
	color: #616161;
}

.icon {
	width: 15px;
	height: 15px;
	text-indent: -999999px;
	direction: ltr;
	float: right;
	margin-left: 5px;
}

.icon.info {
	background: url('../images/icon-info.svg') center center;
	background-size: 100%;
}

.icon.padlock {
	background: url('../images/icon-padlock.svg') center center;
	background-size: 100%;
}

.icon.refresh {
	background: url('../images/icon-refresh.svg') center center;
	background-size: 100%;
}

.icon.phone {
	background: url('../images/icon-phone.svg') center center;
	background-size: 100%;
}

.button {
	padding: 15px 18px;
	background-color: rgb(110, 192, 230);
	background-color: rgba(110, 192, 230, 1);
	border: 1px solid #589AB8;
	border-radius: 4px;
	float: left;
	margin-top: 20px;
	color: white;
	cursor: pointer;
}

.button:hover, .button:active, .button:focus {
	background-color: rgb(110, 192, 230);
	background-color: rgba(110, 192, 230, 0.6);
	outline: none;
}

.button:disabled {
	opacity: 0.3;
	cursor: default;
}

.button:disabled:hover {
	background-color: rgb(110, 192, 230);
	background-color: rgba(110, 192, 230, 1);
}


/* Modal */
.float {
	opacity: 0;
	pointer-events: none;
	-webkit-transition: all 0.5s; /* Safari */
    -moz-transition: all 0.5s; /* Mozilla */
    -o-transition: all 0.5s; /* Opera */
    transition: all 0.5s;
}

.float.active {
	opacity: 1;
	pointer-events: auto;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.75);
	-webkit-transition: all 0.5s; /* Safari */
    -moz-transition: all 0.5s; /* Mozilla */
    -o-transition: all 0.5s; /* Opera */
    transition: all 0.5s;
}

.verification-modal {
	width: 90%;
	position: absolute;
	top: 50px;
	left: 5%;
}

.verification-header {
	padding: 20px 5%;
	background-color: white;
	border-top: 1px solid #E0E0E0;
	border-left: 1px solid #E0E0E0;
	border-right: 1px solid #E0E0E0;
	border-radius: 4px 4px 0 0;
}

.verification-header .icon {
	float: left;
    height: 18px;
    margin-right: 10px;
    margin-left: 0;
}

.code-verifier {
	float: left;
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	background-color: #FBFCFC;
	padding: 20px 20px 40px;
}

.code-verifier p {
	text-align: center;
	line-height: 200%;
}

.code-verifier p span:first-child {
    border: 1px solid #DEDEDE;
    padding: 5px 10px;
    border-radius: 4px 0 0 4px;
    background: #F0EDED;
    color: #999999;
}

.code-verifier p span:last-child {
    border-top: 1px solid #DEDEDE;
    border-right: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
    padding: 5px 10px;
    border-radius: 0 4px 4px 0;
    background: #F4F4F4;
    color: #999999;
}

.code ul li {
	width: 15%;
	float: left;
	margin: 20px 0.8% 0;
	text-align: center;
}

.code ul li input {
	width: 90%;
	border: 1px solid #E0E0E0;
	border-radius: 4px;
	text-align: center;
	padding: 10px 0;
}

.code ul li input:focus, .code ul li input:active {
	outline: none;
	border: #64B5F6;
}

.verification-bottom {
	width: 89.2%;
	float: left;
	padding: 0 5% 20px;
	background-color: white;
	border-bottom: 1px solid #E0E0E0;
	border-left: 1px solid #E0E0E0;
	border-right: 1px solid #E0E0E0;
	border-radius: 0 0 4px 4px;
}

.access {
	width: 40%;
    float: left;
    margin-top: 10px;
    font-size: 0.8em;
    color: #64B5F6;
}

.back-button {
	float: left;
	padding: 15px 18px;
	background-color: #FBFCFC;
	border: 1px solid #E0E0E0;
	border-radius: 4px;
	margin-top: 20px;
	margin-left: 20px;
	color: #b0bec5;
	cursor: pointer;
}

.back-button:active, .back-button:focus {
	outline: none;
}

.code-options {
	float: left;
}

.code-options .icon {
	float: left;
	margin: 0 5px;
	width: 12px;
	height: 12px;
}

.code-options a {
	font-size: 0.8em;
	float: left;
	margin-top: 20px;
	color: #768895;
}

.md-show {
	display: none;
}

/* Media Queries */
@media screen and (min-width: 768px) {
	h3 {
		width: 80%;
	}
	section, footer {
		float: right;
	}
	.left-content {
		width: 60%;
	}
	.md-hide {
		display: none;
	}
	.md-show {
		display: block;
	}
	.transaction-details {
		width: 34%;
    	margin-left: 2.5%;
    	position: fixed;
	}
	.verification-modal {
		max-width: 600px;
    	margin-left: 50%;
    	left: -300px;
	}
	.verification-bottom {
		width: 89.7%;
	}
	.access {
		float: right;
		margin-top: 36px;
		text-align: right;
	}
	.code-options {
		width: 98%;
	}
	.code-options a:last-child {
		float: right;
	}
	.code ul li input {
		font-size: 2em;
	}
}

@media screen and (min-width: 992px) {
	section, footer {
		max-width: 600px;
	}
	.transaction-details {
		max-width: 300px;
	}
	.input-wrapper {
		width: 60%;
	}
}
